.App {
  text-align: center;
}

.Logo {
  font-family: "Russo One", sans-serif;
  font-size: 40px;
  display: inline-block;
}
.Title {
  display: inline-block;
  color: #000000;
  text-decoration: none;
  margin-bottom: 0px;
}
span {
  display: inline-block;
  color: #228b22;
  text-decoration: none;
}

.Menu {
  display: flex;
  justify-content: space-evenly;
}

.spotlightMatch {
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #228b22;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.spotlightMatch:hover {
  background-color: #3e8e41;
}

.Fixtures {
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #228b22;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.Fixtures:hover {
  background-color: #3e8e41;
}

header {
  background-color: #e9ffdb;
  width: 100%;
  top: 0;
  border-bottom: 2px solid #12130f;
}

.TeamRows {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 2px solid #12130f;
  text-align: center;
  align-items: center;
}

.TeamLinks {
  text-decoration: none;
  color: #000000;
}

.imageTeam {
  height: 90px;
  width: 90px;
}

.MatchButton {
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #228b22;
  border-radius: 15px;
}

.CommentHeader {
  border-top: 2px solid #12130f;
}

.User {
  font-weight: bold;
}

.CommentRows {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 15px;
}

form {
  justify-content: center;
}

label {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.textInput {
  border: 3px solid #228b22;
}

.submitButton {
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #228b22;
  border-radius: 15px;
}

.Footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: sticky;
  bottom: 0;
  background-color: #e6e6fa;
  color: #000000;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 30px;
  padding: 5px 0 10px;
  font-weight: bold;
  border-top: 2px solid #12130f;
}

.footerCopyright {
  color: #000000;
  text-decoration: none;
}

.Footer img {
  width: 20px;
  padding: 0 5px;
}

@media screen and (max-width: 650px) {
  .Logo {
    font-size: 20px;
  }
  .spotlightMatch {
    padding: 10px 15px;
    font-size: 7px;
  }
  .Fixtures {
    padding: 10px 15px;
    font-size: 7px;
  }
  h3 {
    font-size: 10px;
  }
  .imageTeam {
    height: 45px;
    width: 45px;
  }
  .MatchButton {
    font-size: 7px;
  }

  .submitButton {
    font-size: 7px;
  }

  .textInput {
    border: 3px solid #228b22;
  }

  .spotlightMatch {
    box-shadow: none;
  }

  .Fixtures {
    box-shadow: none;
  }
  label {
    font-size: 10px;
  }
  .CommentPost {
    font-size: 10px;
  }
  .CommentRows {
    font-size: 10px;
  }
}
