.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.Logo {
  font-family: "Russo One", sans-serif;
  font-size: 32px;
  display: inline-block;
}

.Menu {
  display: flex;
  justify-content: space-evenly;
}

nav {
  background-color: skyblue;
}
