.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.Logo {
  font-family: "Russo One", sans-serif;
  font-size: 40px;
  display: inline-block;
}
.Title {
  color: #000000;
  text-decoration: none;
}
span {
  color: #ff0000;
  text-decoration: none;
}

.Menu {
  display: flex;
  justify-content: space-evenly;
}

nav {
  background-color: #c6e2ff;
}

.TeamA {
  flex-direction: rows;
  position: absolute;
  margin-left: 25vw;
}

.TeamB {
  flex-direction: rows;
  position: absolute;
  margin-left: 65vw;
}

footer {
  background-color: #e6e6fa;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
